@import "fullcalendar";
@import "daterangepicker";
@import "bootstrap";

 label{
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 600;
 }

 .fc-title {
    font-size: 0.9rem;
    color: whitesmoke;
 }